---
import TopHeader from "../elements/top-header.astro";
import Navbar from "../elements/navbar.astro";
import MenuDropdown from "../elements/menu-dropdown.astro";
import { SITE } from "@/lib/config";
---

<header
  class="border-b border-primary-content/80 dark:border-primary-content/20 bg-[#E3E3E4]"
>
  <TopHeader />

  <div
    class="flex justify-between items-center lg:justify-center px-4 py-3 bg-[#FBC208] text-[#1A346B] dark:bg-black"
  >
    <div class="text-[#1A346B] lg:hidden">
      <MenuDropdown />
    </div>
    <a href="/" class="text-3xl md:text-4xl font-sans font-black uppercase">{SITE.title}</a>
    <div class="space-y-2">
      <p class="font-sans font-thin">Thin</p>
      <p class="font-serif font-light">Light</p>
      <p class="font-serif font-normal">Normal</p>
      <p class="font-serif font-medium">Medium</p>
      <p class="font-serif font-semibold">SemiBold</p>
      <p class="font-serif font-bold">Bold</p>
      <p class="font-serif font-extrabold">ExtraBold</p>
      <p class="font-serif font-black">Black</p>
    </div>
    <div class="w-10 h-10"></div>
  </div>

  <Navbar />
</header>
