---
import TopHeader from "../elements/top-header.astro";
import Navbar from "../elements/navbar.astro";
import MenuDropdown from "../elements/menu-dropdown.astro";
import { SITE } from "@/lib/config";

import { slide, fade } from "astro:transitions";
---

<header
  transition:animate={fade({ duration: "0.5s" })}
  class="fixed w-full top-0  border-primary-content/80 dark:border-primary-content/20 bg-[#E3E3E4] z-[99999]"
>
  <TopHeader />

  <div
    class="flex justify-between items-center lg:justify-center px-4 py-3 bg-[#FBC208] text-[#1A346B] dark:bg-black"
  >
    <div class="text-[#1A346B] lg:hidden">
      <MenuDropdown />
    </div>
    <a href="/" class="text-3xl md:text-4xl font-bold font-serif uppercase">{SITE.title}</a>
    <span class="size-10" ></span>
  </div>

  </span>

  <Navbar />
</header>
