---
import ArrowRight02 from "@/assets/svgs/arrow-right-02.astro";

type Props = {
  title: string;
  link_url: string;
};

const { title, link_url } = Astro.props;
---

<div class="flex items-center justify-between mt-6" data-pagefind-ignore="all">
  <h2 class="font-bold flex gap-2 items-center">
    <span class="block w-[2px] h-[16px] bg-[#1A346B]"></span>
    <a
    href={link_url}
    class="flex items-center gap-1 text-lg font-sans group uppercase text-[#1A346B]"
  > {title}
   </a>
</h2>
  <!-- <a
    href={link_url}
    class="flex items-center gap-1 text-sm text-base-content/80 group"
  >
    <span class="group-hover:text-primary transition-all"></span>
    <span
      class="group-hover:translate-x-0.5 transition-all group-hover:text-primary"
      ><ArrowRight02 /></span
    >
  </a> -->
</div>
