---
import SubHeadlineCard from '@/components/cards/subHeadlineCard.astro';
import { articlesHandler } from '@/lib/handlers/articles';
import Index from '../articles/index.astro';


type Props = {
    page: "singlePost" | "category";

}

const {page} =Astro.props as Props;

const mainArticles = await articlesHandler.mainHeadline();
const articles = page === "singlePost" 
    ? mainArticles 
    :  mainArticles.concat(await articlesHandler.subHeadlines());



---
<aside class:list={ ["flex  max-w-[634px] flex-col",
page === "singlePost" 
    ? " w-full h-fit lg:max-w-[358px] gap-2.5  "
    : "w-full lg:max-w-[259px] h-fit gap-2.5 " 
    ]}
    >
    <span
        class:list={ ["flex items-center  ",
        page === "singlePost" 
            ? "uppercase gap-2.5 text-[#0E4F8F] font-semibold before:h-4 before:w-0.5 before:bg-[#0E4F8F] "
            : "items-center bg-[#0E4F8F] text-white text-sm font-normal px-3 py-1.5 max-h-[28px] "
            ]}
    >Noticias recientes</span>
    {articles.map((article, index)=>(
        <SubHeadlineCard
            article={article}
            isFirst={index === 0}
            isLast={index === articles.length - 1}
            type={page}
        />
    ))}
</aside>
