---
import type { Article } from '@/lib/types';
 
interface Props{
    article: Article,
}
const { article } = Astro.props;
---

<div set:html={article.content.rendered}></div>

<style>
    /* Estilos aquí */
</style>