---
import type { Article } from "@/lib/types";
import imageNotFound from "src/assets/images/404.webp";
import { decode } from "html-entities";
import ArrowLeft from "@/assets/svgs/arrow-left.astro";

type Props = {
  article: Article;
};

const { article } = Astro.props;
---

<section
  class="w-full px-4 flex flex-col items-center justify-center gap-2.5 lg:px-0"
>
  <div
    class="flex flex-col w-full max-w-[1024px] pt-6 gap-2.5 lg:pt-8 lg:gap-8 overflow-hidden"
  >
    
    <button
      onclick="if (document.referrer) { history.back(); } else { window.location.href = '/' }"
      class="font-semibold cursor-pointer flex justify-start items-center gap-2 text-[#0E4F8F] hover:underline"
    >
      <ArrowLeft size="20" />
      Ir a la página anterior
    </button>

    <h1
      class="text-3xl font-bold font-serif lg:text-4xl"
      set:html={article.title.rendered}
    />
    <img
      src={article._embedded["wp:featuredmedia"]?.[0]["source_url"] ||
        imageNotFound.src}
      alt={decode(String(article.title.rendered))}
      width={1024}
      height={576}
      loading="eager"
      class="w-full h-full object-cover rounded-sm aspect-[16/9] "
    />
  </div>
</section>
