---
import { API_PAGES } from "@/lib/config";
import { pagesHandler } from "@/lib/handlers/pages";
import  imageNotFound from "src/assets/images/404.webp";
import Image from "astro/components/Image.astro";



const printEditionPage = await pagesHandler.onePageBySlug(API_PAGES.printEdition.slug);


---

<aside>
    <h3 class="font-sans " >Edición Impresa</h3>
    <Image
      src={printEditionPage?._embedded["wp:featuredmedia"]?.[0]["source_url"] || imageNotFound}
      alt={API_PAGES.printEdition.title}
      width={380}
      height={538}
    />
</aside> 