---
import Search01 from "@/assets/svgs/search-01.astro";
import { SOCIAL_LINKS } from "@/lib/config";
import ThemeController from "../bases/theme-controller.astro";
import Icon from "../bases/icon.astro";
---

<div class="flex w-full px-4 h-8 bg-[#1A346B]">
  <div class="navbar-start">
    <a class="text-white" href="/search" aria-label="Search">
      <Search01 />
    </a>
  </div>

  <div class="navbar-end gap-1">
    <div class="hidden">
      <ThemeController/>
    </div>

    <div class="flex flex-row gap-3">
      {
        SOCIAL_LINKS.map(({ href, icon, text, target }) => (
          <a
            href={href}
            class="text-white"
            target={target ?? "_blank"}
            title={text}
            aria-label={text}
          >
            <Icon icon={icon} />
          </a>
        ))
      }
    </div>
  </div>
</div>
