---
import Search01 from "@/assets/svgs/search-01.astro";


---
<form
    action="/buscar"
    method="GET"
    aria-label="Search"
    class="flex w-[200px] h-6 bg-white text-[#1A346B] items-center justify-between rounded-full px-3 font-sans"
  >
    <input
      type="text"
      name="q"
      placeholder="Buscar"
      class="bg-transparent text-sm outline-none w-full placeholder-[#1A346B]"
    />
    <button type="submit" class="ml-2" class="hover:cursor-pointer" >
      <Search01 />
    </button>
  </form>