---
import BaseLayout from "./base.astro";
import type { ArticleMeta, Meta } from "@/lib/types";

type Props = {
  headerTitle: string;
  meta: Meta;
};

const { meta, headerTitle } = Astro.props;
---

<BaseLayout meta={meta}>
  <section class="container flex flex-col h-full pb-8 pt-4 gap-5 " data-pagefind-ignore="all">
    <span class="flex items-center border-b-2 border-primary/10 p-1 mb-4">
      <h1 class="text-xl font-medium">{headerTitle}</h1>
    </span>
    <slot />
  </section>
</BaseLayout>
