---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./base.astro";
import ViewListHeader from "@/components/shared/view-list-header.astro";
import type { ArticleMeta, Meta } from "@/lib/types";

type Props = {
  header: string;
  meta: Meta;
};

const { meta, header } = Astro.props;
---

<BaseLayout meta={meta}>
  <div
    class="container flex flex-col h-full pb-8 pt-4"
    data-pagefind-ignore="all"
  >
    <ViewListHeader title={header} />
    <slot />
  </div>
</BaseLayout>
